<br>
<% if @requests.size == 0 %>
  <h3 class="text-center"><i>No friend request</i></h3>
<% else %>
  <% @requests.each do |request| %>
    <div class="row">
      <div class="col-md-1">
        <%= image_tag request.user.image, class: "img-circle", width: "60",
          height: "60" %>
      </div>
      <div class="col-md-11">
        <b><%= link_to request.user.name, profile_path(request.user.id) %></b>
          sent request
          <%= time_ago_in_words(request.created_at) %> ago
          <br><br>
        <%= form_for request, remote: true do |f| %>
          <%= f.hidden_field :status, value: "Accept" %>
          <%= f.submit "Confirm",data: {confirm: "Are you sure"}, class: "btn btn-primary" %>
        <% end %>
        &nbsp;
        <%= link_to "Delete request", friend_path(request), method: :delete, remote: true,
          data: {confirm: "Are you sure delete request from #{request.user.name}"},
            class: "btn btn-danger" %>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>
